* {
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

body {
    background-color: #22252c;
    color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

h3,
h4,
p {
    margin: 0;
}

button {
    cursor: pointer;
}
